package templates

templ Index(text string) {
    @BaseLayout("WOWOWOW") {
        @IndexContent(text)
    }
}

templ IndexContent(text string) {
<div class="container">
	<div class="speech-bubble" id="speech-bubble">
		@SpeechBubble(text)
	</div>
	<div hx-get="/ui/quote" hx-target="#speech-bubble" >
		<img
			src="/static/andoid.png"
			alt="andoid"
			class="logo"
		/>
	</div>
</div>
}